@import url('https://fonts.googleapis.com/css2?family=Combo&family=Source+Sans+Pro&display=swap');

:root {
    --head: "Source Sans Pro", Helvetica, sans-serif;
    --body: "Source Sans Pro", Helvetica, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-family: "Source+Sans+Pro", Helvetica, sans-serif;
    padding: 35px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #cad2c5;
    font-family: "Source+Sans+Pro", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #354f52;
}

nav a:hover {
    background-color: #cad2c5;
    color: #2f3e46;
}

.book,
.join {
    background-color: #354f52;
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #cad2c5;
    color: #354f52;
}

#background {
    background-color: #2f3e46;
    margin-bottom: 200px;
}

.msg {
    background-color: #52796f;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #52796f;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: #354f52;
    font-family: "Combo";
    font-size: 4em;
    margin-top: 10px;
}

h4 {
    color: black
}

.msg h2 {
    color: black;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.msg p {
    color: black;
    font-size: 8em;
    padding-bottom: 15px;
}

footer h3 {
    color: black;
}

footer a {
    color: aliceblue;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

.logo {
    width: 80px;
}

.icon {
    width: 60px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px
}

footer .social img {
    padding-top: 15px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #354f52;
}

main section img {
    box-sizing: border-box;
}